body {
    background-color: rgb(21, 22, 36);
    background: url(blue_abstract_lines_2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: rgb(227, 221, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 150%;

}
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(143, 145, 153); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(120, 123, 150); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 101, 161); 
}
a {
    text-decoration: none;
    color: lightskyblue;
}
a:hover {
    color: rgb(211, 199, 255);
}
h1{
    font-family: sans-serif;
    font-weight: 900;
    font-size: 250%;
    text-shadow: 10px white;
}
.header {
    background-color: rgba(0, 0, 0, 0.363);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
    border-radius: 30px;
}
.content {
    border-radius: 12.5px;
    background-color: rgba(0, 24, 90, 0.144);
    padding: 1.5% 1.5%;
    font-size: 120%;
    font-family: sans-serif;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid rgba(192, 212, 255, 0.336);
     transition: all 0.5s ease-in-out;
    backdrop-filter: blur(15px) brightness(0.95) ;
    
} 
.content:hover {
    border-radius: 12.5px;
    background-color: rgba(61, 82, 107, 0.356);
    padding: 2% 2%;
    font-size: 120%;
    font-family: sans-serif;
    text-align: left;
    margin-left: 10%;
    margin-right: 15%;
    border: 1px solid rgba(255, 255, 255, 0.603);
    transition: all 0.5s ease-in-out;
}
button {
    background-color: black;
    color: white;
    font-size: 100%;
    padding: 0.8% 0.8%;
    border: 1px white solid;
    cursor: pointer;
     transition: all 0.25s ease-in-out;
    border-radius: 12.5px;
}
button:hover {
     transition: all 0.25s ease-in-out;
    background-color: white;
    font-size: 120%;
    color: black;
}
table {

    margin-right: auto;
    text-align: center;
    width: 45%;

    border-collapse: collapse;
    font-size: 75%;
}
table,td,th {
    border: 1px solid rgba(192, 212, 255, 0.521);

}